
*{
    padding: 0;
    margin: 0;
}

:root{
    --primary-color:#F3722A !important;
    --secondary-color:#181818 ;
    --original-bg:#EAEAEA;
    --primary-gradient:  linear-gradient(45deg, #E55220, #A9340C,#852200);
    --default-font:"Inter", serif;
    --secondary-font:"Poppins", serif;
    --font-size:16px;
    --prev-icon: assets\img\icon\arrow.svg;
}
html, body {
    height: 100%;
    scroll-behavior: smooth;
  }
body{
    font-family: var(--default-font) !important;
    font-size: var(--font-size) !important;
    height: 100%;
    position: relative !important;
   
}
p{
    margin-bottom: 0px ;
}
.secondary-font{
    font-family: var(--secondary-font);
}
.title-f{
    font-family: "Orbitron", sans-serif;
    font-size: 32px;
}
.bg-primary{
    background-color:var(--primary-color);
}
.bg-secondary{
    background-color:var(--secondary-color);
}
.bg-gradient-p{
    background:linear-gradient(45deg, #E55220, #A9340C,#852200);
}
.grey-bg{
    background-color: #EFECEC ;
}
.bg-grey{
    background-color: #EEF1F9;
}
.container{
    margin: auto !important;
}
.grey-text{
    color: #5B6A84;
}
/* Banner CSS */
.banner{
    min-height: 85vh;
    width: 100%;
}
.banner::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #1818188e;
}
.banner img{
    max-height: 85vh;
    object-fit: cover;
    width: 100%;
}
.banner-slick .slick-next{
    right: 90px;
    z-index: 1;
}
.banner-slick .slick-prev{
    left: 35px;
    z-index: 1;
}
.banner-content h1{
    font-family: "Orbitron", sans-serif;
    text-shadow: 0 0 10px black;
}
.banner-content p{
    font-family: var(--secondary-font);
    text-shadow: 0 0 10px black;
}
.auction-view-btn:hover{
    color: #fff !important; 
}

.auction-div:hover .auction-date-col{
    background-color: #000 !important;
    
}
.auction-div:hover .auction-date-col p{
    color: #fff !important;    
}
/* banner form css */

.form-input-fm input:focus{
    outline: none;
}
.form-input-fm input{
    padding-top: 5px;
    background-color: transparent;
}
.form-input-fm{
    display: block;
    border-radius: 6px;
}
.form-input-fm select{
    padding: 2px;
    background-color: transparent;
}
select{
    background-color: transparent;
}
.form-input-fm select:focus{
    outline: none;
}
.form-input-fm select option{
    background-color: #fff;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}
@media only screen and (max-width: 1023px) {
     .col {
        flex: 0 0 auto !important;
        width: 100% !important;
        margin-bottom: 25px;
    }
}
/* Navbar CSS */
.loginAuth{
    position: relative;
}
.nav-menu:hover .loginAuth::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: var(--primary-color);
    bottom: 0;
    transition: 0.2s all ease-in;
}
.nav-menu:hover .login-submenu{
    opacity: 100% !important;
    visibility: visible !important;
    transition: 0.2s all ease-in;
    transform: translateY(58px); 
}
.login-submenu{
    opacity: 0;
    visibility: hidden;
    transition: 0.2s all ease-in;
    transform: translateY(-50px);
}.marquee {
    overflow: hidden;
    background-color: var(--primary-color);
    height: 75px; 
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .team-scroll {
    display: flex;
    gap: 20px; 
    will-change: transform;
  }
  
  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
  }
  

  /* Youtube Video Section */

  .videoCoverImage .thumb {
    cursor: pointer;
    max-width: 100%;
    display: block;
  }

  /* properties Css */
  .property-img img{
    position: relative;
    min-height: 250px;
    object-fit: cover;
  }
  .property-img::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background: linear-gradient(360deg, #000,transparent);
    z-index: 20;
  }
  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    border: 1px solid var(--primary-color) !important;
    background-color: var(--primary-color) !important;
    color: #fff !important;
  }
  .nav-tabs .nav-link{
    padding: 8px 32px;
    border-radius: 12px !important;
    color: var(--primary-color) !important;
    border: 1px solid var(--primary-color) !important;
  }
  .nav-tabs .nav-link:hover{
    background-color: var(--primary-color)!important;
    color: #fff !important;
  }

  /* Event Auction CSS */

  .auction-date{
    border-left: 10px solid var(--primary-color);
    background-color: #FDE0D7;
    color: var(--primary-color);
  }

  .auction-link{
    color:#5B6A84 !important;
    width: 100%;
  }
 

  .nav-pills .auction-link.active, .nav-pills .show > .auction-link{
    background-color: #fff !important;
    color: var(--primary-color) !important;
  }

  /* Live Auction Lot CSS */
  .live-auction-times .auction-items .auction-time.active{
    border: 1px solid var(--primary-color);
    border-radius: 100px;
    color: var(--primary-color);
    background: linear-gradient(180deg, #FFE8DD,#FFEDE4);

  }
  .live-auction-times .auction-items .auction-time{
    border: 1px solid #E4E8ED;
    border-radius: 100px;
    min-width: max-content;
    color: #808080;
    cursor:pointer;
    /* -webkit-user-select: none; 
    -ms-user-select: none;
    user-select: none; */
  }
  .live-auction-times .auction-items::-webkit-scrollbar{
    display: none;
  }

  .lot-img img{
    min-height:290px;
    height: 100%;
    object-fit: cover;
    
  }
  .lot-img::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%; 
    bottom: 0;
    left: 0;
    background: linear-gradient(360deg, #000,transparent);
    z-index: 20;
    border-radius: 0.75rem;
  }
  .lot-price-box{
    position: relative;
    min-height: 330px;
    height: 100%;
    max-height: min-content;
    width: 100%;
    /* box-shadow: 4px 4px 0px var(--primary-color); */
    /* background-color: var(--primary-color); */
  }
  .clip-box{
    min-height: 80%;
    width: 100%;
    position: absolute;
    background-color: #fff;
    bottom: 0;
    border-radius: 12px;
    border-top-left-radius: 0;
    border: 2px solid var(--primary-color);
    border-top: 0;
    max-height: 80%;
  }
  .clip-path{
    min-height: 20%;
    width: 30%;
    position: absolute;
    background-color: #fff;
    top: 0;
    border-radius: 12px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: 2px solid var(--primary-color);
    border-bottom: 0;
  }
  .lot-price-box::before{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: transparent;
    top: 13%;
    left: 30%;
    border-radius: 100px;
    box-shadow: -10px 9px 0 #fff;
    z-index: 10;
  }
.clip-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--primary-color);
    border-radius: 10px;
    left: 8px;
    top: 8px;

}
.clip-input{
    display: flex;
    justify-content: space-between;
    background-color: rgba(243, 114, 41, 0.2) ;
}
.clip-input input{
    width: 80%;
}
.clip-input a{
    width: 20%;
}

.counter-fn{
    position: relative;
}
.counter-fn::after{
    content: ':';
    position: absolute;
    right: -10px;
    top: 0;
}
.clip-counter p{
    font-size: 9px;
    line-height: 9px;
}

/* property Detail page css */

.property-live{
    background-color: #DCF4E0; 
    color: #48A956; 
    font-family: var(--secondary-font);
    max-width: fit-content;
}

.property-image{
    min-height:520px;
    overflow: hidden;
    width: 100%;
    max-height: 520px;
}
.property-image img{
    min-height:520px;
    
}
.property-image::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%; 
    bottom: 0;
    left: 0;
    background: linear-gradient(360deg, #000,transparent);
    z-index: 20;
}
.slick-count{
    background-color: #ffe8dd68;

}
.property-slick .slick-prev{
    left: 25px !important;
    z-index: 40;
}
.property-slick .slick-next{
    right: 25px !important;
    z-index: 40;
}
.property-slick .slick-next{
    background-color: #ffe8dd68;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
}
.property-slick .slick-prev{
    background-color: #ffe8dd68;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
}
.property-slick .slick-prev:hover{
    background-color: #ffe8dd68 !important;
}
.property-slick .slick-next:hover{
    background-color: #ffe8dd68 !important;
}

.facilities-bar{
    color: #435572 !important;
}

.property-details-buttons ul li a{
    display: block;
    font-family: var(--secondary-font);
    color: #435572;
    min-width: max-content;
    position: relative;
}
.property-details-buttons ul li a.active{
    display: block;
    background-color: #000;
    color: #fff;
    font-family: var(--secondary-font);
    min-width: max-content;
    position: relative;
    overflow: hidden;
}
.property-details-buttons ul li a.active::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    background-color: var(--primary-color);
    border-radius: 100px;
}
.box-show{
    background-color: #FFFFFF;
    border: 1px solid #C8CDD6;
    border-radius: 10px;
    padding: 10px;
    color: #343F4F ;
}
.box-show p{
    color: #343F4F !important;
}
.p-view p a{
    color: var(--primary-color);
}

.spec-list ul li{
    font-size: 14px;
    font-weight: 400;
    color: #343F4F;
}
.property-price-box{
    position: relative;
    min-height: 400px;
    height: 100%;
    max-height: min-content;
    width: 100%;
    /* box-shadow: 4px 4px 0px var(--primary-color); */
    /* background-color: var(--primary-color); */
  }
  .property-bit-box{
    min-height: 80%;
    width: 100%;
    position: absolute;
    background-color: #fff;
    bottom: 0;
    border-radius: 12px;
    border-top-right-radius: 0;
    border: 2px solid var(--primary-color);
    border-top: 0;
    max-height: 80%;
  }
  .property-bit {
    min-height: 20%;
    width: 70%;
    position: absolute;
    background-color: #fff;
    top: 0;
    right: 0;
    border-radius: 12px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: 2px solid var(--primary-color);
    border-bottom: 0;
}
.property-price-box::before {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: transparent;
    top: 15%;
    left: 25%;
    border-radius: 100px;
    box-shadow: 10px 8px 0 #fff;
    z-index: 10;
}
.clip-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--primary-color);
    border-radius: 10px;
    left: 8px;
    top: 8px;

}
.property-input{
    display: flex;
    justify-content: space-between;
    background-color: rgba(243, 114, 41, 0.2) ;
}
.property-input input{
    width: 80%;
}
.property-input a{
    width: 20%;
}
.property-binding{
    border: 1px solid #ff464624;
    background: linear-gradient(88deg, #ff5c0033, #FFFFFF);
    border-radius: 10px;
    padding: 10px;
}
.property-binding p{
    color: #435572;
}
 
.pack-box{
    min-height:70px;
    height: 70px;
    width: 100%;
    font-family: var(--secondary-font) !important;
}
.d-box-1{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}
.d-box-2{
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}
.d-box-g{
    position: relative;
    border: 1px solid rgba(128, 128, 128, 0.504);
    overflow: hidden;
    color: #000;
}
.d-box-g.active{
    color:var(--primary-color)!important;
    border: 1px solid var(--primary-color);

}
.d-box-g::after{
    content: '';
    position: absolute;
    width: 110px;
    height: 100px;
    background: linear-gradient(88deg, #ff5e0061, #ff5e000d);
    border-radius: 200px;
    right: -33px;
    top: -13px;
    border: 1px solid #ff464624
}
.overley-pack{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b0;
    z-index: 10;
}